<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="tests" thread-count="3">
    <test name="Test1">
        <classes>
            <class name="ru.magic3000.practice1.tests.AddCustomerTest"/>
        </classes>
    </test>
    <test name="Test2">
        <classes>
            <class name="ru.magic3000.practice1.tests.SortCustomersTest"/>
        </classes>
    </test>
    <test name="Test3">
        <classes>
            <class name="ru.magic3000.practice1.tests.DeleteCustomerTest"/>
        </classes>
    </test>
</suite>